* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
}

$primary-color: blue;
$secondary-color: rgb(233, 233, 255);
$tertiary-color: rgb(255, 203, 203);
$quaternary-color: red;

html {
   font-size: 62.5%;
}

input,
button,
textarea {
   border: none;
   outline: none;
   background-color: unset;
   resize: none;
}

button {
   cursor: pointer;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: unset;
}
